fastapi>=0.121,<1.0
google-cloud-firestore>=2.13,<3.0
google-cloud-secret-manager>=2.23.3,<3.0
google-cloud-aiplatform>=1.96.0,<2.0
google-cloud-pubsub>=2.18,<3.0
python-telegram-bot>=22.1.0,<=23.0
hypercorn>=0.18.0,<1.0
dspy>=3.0,<4.0
Pillow>=11.3.0,<12.0
